body {
    background-color: #202020;
    color: white;
}

.row {
    display: flex;
}

.column {
    width: 50%
}

.innercolumn {
    width: 25%
}

.chat {
    float: right;
}

.chatcolumn {
    float: right;
}

.centercolumn {
    float: left;
}

.submitbutton{
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
.submitbutton:hover{
    background-color: #004080;
}