body {
    background-color: #202020;
    color: white;
}

.row {
    display: flex;
}

.column {
    float: left;
    flex: 75%;
}

.chatcolumn {
    float: right;
}

.buttoncontainer {
    position: absolute;
    display: inline-block;
}

.commandsbutton{
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
.commandsbutton:hover{
    background-color: #004080;
}

.badwordsbutton{
    background-color: #008CBA;
    border: none;
    color: white;
    text-align: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 4px;
}
.badwordsbutton:hover{
    background-color: #004080;
}